<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
</head>
<body>
    <h1>New Post</h1>
    <form th:action="@{/posts/create}" method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
        <label for="content">Content</label>
        <input type="text" id="content" name="content">
        <input type="submit">
    </form>
</body>
</html>
